<h1><span>Ponovna nastavitev gesla</span></h1>
<p class="overview">
  Prejeli smo zahtevo za ponovno nastavitev vašega gesla. Če zahteve niste poslali vi, preprosto ignorirajte to sporočilo.
</p>
<p class="link">
  Če želite ponovno nastaviti vaše geslo uporabite spodnjo povezavo
  <br>
  </br>
  <%= link_to @edit_password_reset_url, @edit_password_reset_url %>
</p>
<p>
  Če povezava ne deluje, jo poskusite kopirati v vaš spletni brskalnik.
</p>
