<html>
  <head>
    <style>
     <%= render :partial => 'spree/shared/email/stylesheet' %>
    </style>
  </head>
  <body>
    <div id="wrapper" style="background: white; box-shadow: 4px 5px 4px #666655; margin: 0px auto 30px; padding: 20px 40px 40px; width: 600px; border: 15px solid #00AEBB;">
      <header>
        <%= render :partial => 'spree/shared/email/header' %>
      </header>
      <section id="main">
        <%= yield %>
      </section>
      <footer>
        <%= render :partial => 'spree/shared/email/footer' %>
      </footer>
    </div>
  </body>
</html>
