<div class="details">
  Prevzemnik: <span class="full-name"><%= address.full_name %></span>
  <br/>
  <%= address.address1 %>
  <br/>
  <%= address.city %>
  <br/>
  Ko vas bomo obvestili, lahko naroÄilo prevzamete od ponedeljka do petka med 8. in 19. uro ali ob sobotah med 8. in 13. uro.
</div>
